Repository rakutentech/js-miniapp, pull requests merged in 2022-04, with the labels that each got.

#207 [NO-TICKET] Folder with localized manifests
  js-miniapp-sample/public/_locale/default/manifest.json
  js-miniapp-sample/public/_locale/ja/manifest.json
  js-miniapp-sample/public/manifest.json
Labels: enhancement

#211 [PRM-1902] Release changes for 1.14.0
  js-miniapp-bridge/package.json
  js-miniapp-sample/package.json
  js-miniapp-sdk/CHANGELOG.md
  js-miniapp-sdk/package.json
Labels: Release, SDK

#210 [MINI-1737] Purchase product item flow and display
  js-miniapp-bridge/src/common-bridge.ts
  js-miniapp-bridge/src/index.ts
  js-miniapp-bridge/src/types/purchaseProduct.ts
  js-miniapp-sample/src/pages/purchase.js
  js-miniapp-sample/src/services/purchase/actions.js
  js-miniapp-sample/src/services/purchase/reducers.js
  js-miniapp-sample/src/services/purchase/types.js
  js-miniapp-sample/src/services/reducers.js
  js-miniapp-sdk/CHANGELOG.md
  js-miniapp-sdk/src/index.ts
  js-miniapp-sdk/src/modules/purchase-item.ts
Labels: sample-app, SDK

#217 Revert "[MINI-1737] Purchase product item flow and display"
  js-miniapp-bridge/src/common-bridge.ts
  js-miniapp-bridge/src/index.ts
  js-miniapp-bridge/src/types/purchaseProduct.ts
  js-miniapp-sample/src/pages/purchase.js
  js-miniapp-sample/src/routes.js
  js-miniapp-sample/src/services/purchase/actions.js
  js-miniapp-sample/src/services/purchase/reducers.js
  js-miniapp-sample/src/services/purchase/types.js
  js-miniapp-sample/src/services/reducers.js
  js-miniapp-sdk/CHANGELOG.md
  js-miniapp-sdk/src/index.ts
  js-miniapp-sdk/src/miniapp.ts
  js-miniapp-sdk/src/modules/purchase-item.ts
Labels: Revert
