Repository rakutentech/js-miniapp, pull requests merged in 2022-12, with the labels that each got.

#230 [MINI-5753] [MINI-5756] Universal Bridge: SDK interfaces and sample app
  js-miniapp-bridge/src/common-bridge.ts
  js-miniapp-bridge/test/test.spec.ts
  js-miniapp-sample/src/pages/event-listener.js
  js-miniapp-sample/src/pages/universal-bridge.js
  js-miniapp-sample/src/routes.js
  js-miniapp-sdk/CHANGELOG.md
  js-miniapp-sdk/README.md
  js-miniapp-sdk/src/event-types/index.ts
  js-miniapp-sdk/src/index.ts
  js-miniapp-sdk/src/miniapp.ts
  js-miniapp-sdk/src/modules/universal-bridge.ts
  js-miniapp-sdk/test/miniapp.spec.ts
  yarn.lock
Labels: SDK, bridge, feature

#232 [MINI-5636] Use getMessagingUniqueid callback on getMessagingUniqueId
  js-miniapp-bridge/src/common-bridge.ts
Labels: bridge, fix

#231 [MINI-5698] Separate userDetails and points button state
  js-miniapp-sample/src/pages/user-details.js
Labels: sample-app, fix

#233 Update dependencies to latest versions
  .circleci/config.yml
  Icon 
  icon.png
  js-miniapp-bridge/package.json
  js-miniapp-sample/package.json
  js-miniapp-sample/src/pages/ads.js
  js-miniapp-sample/src/pages/app-close-alert.js
  js-miniapp-sample/src/pages/camera.js
  js-miniapp-sample/src/pages/event-listener.js
  js-miniapp-sample/src/pages/inapp-purchases.js
  js-miniapp-sample/src/pages/landing.js
  js-miniapp-sample/src/pages/media.js
  js-miniapp-sample/src/pages/secure-storage.js
  js-miniapp-sample/src/pages/share.js
  js-miniapp-sample/src/pages/universal-bridge.js
  js-miniapp-sample/src/pages/uri-schemes.js
  js-miniapp-sample/src/pages/uuid-sdk.js
  js-miniapp-sample/src/routes.js
  js-miniapp-sample/src/services/landing/reducers.js
  js-miniapp-sample/src/services/message/actions.js
  js-miniapp-sample/src/services/reducers.js
  js-miniapp-sample/src/services/secure-storage/actions.js
  js-miniapp-sample/src/services/secure-storage/reducers.js
  js-miniapp-sample/src/services/user/reducers.js
  js-miniapp-sdk/package.json
Labels: sample-app, SDK

#234 [MINI-5706][MALI-1211] Fix for Auth token issues
  js-miniapp-sample/src/pages/auth-token.js
Labels: enhancement, fix

#235 [MINI-5752] Universal Bridge JS Sample app changes
  js-miniapp-sample/src/pages/universal-bridge.js
Labels: enhancement, sample-app, feature

#236 [MINI-5825][MINI-5829] Supports multiple emails: SDK & JS Sample app changes
  js-miniapp-bridge/src/types/contact.ts
  js-miniapp-bridge/test/test.spec.ts
  js-miniapp-sample/src/pages/user-details.js
  js-miniapp-sdk/CHANGELOG.md
Labels: sample-app, SDK, feature
