Repository rakutentech/js-miniapp, pull requests merged in 2023-07, with the labels that each got.

#260 [MALI-6198] [JS Sample App] Unable to download ".zip" file from Sample app
  js-miniapp-sample/src/pages/file-download.js
Labels: bug, sample-app, fix

#261 [MINI-6192] Send Analytics to Host app
  js-miniapp-bridge/src/common-bridge.ts
  js-miniapp-bridge/src/index.ts
  js-miniapp-bridge/src/types/analytics/analytics.ts
  js-miniapp-sample/src/pages/ads.js
  js-miniapp-sample/src/pages/app-close-alert.js
  js-miniapp-sample/src/pages/auth-token.js
  js-miniapp-sample/src/pages/camera.js
  js-miniapp-sample/src/pages/event-listener.js
  js-miniapp-sample/src/pages/file-download.js
  js-miniapp-sample/src/pages/file-upload.js
  js-miniapp-sample/src/pages/gifs.js
  js-miniapp-sample/src/pages/helper.js
  js-miniapp-sample/src/pages/in-app-purchase.js
  js-miniapp-sample/src/pages/landing.js
  js-miniapp-sample/src/pages/local-storage.js
  js-miniapp-sample/src/pages/media.js
  js-miniapp-sample/src/pages/message.js
  js-miniapp-sample/src/pages/secure-storage.js
  js-miniapp-sample/src/pages/share.js
  js-miniapp-sample/src/pages/universal-bridge.js
  js-miniapp-sample/src/pages/uri-schemes.js
  js-miniapp-sample/src/pages/user-details.js
  js-miniapp-sample/src/pages/uuid-sdk.js
  js-miniapp-sample/src/pages/web-location.js
  js-miniapp-sample/src/pages/window-actions.js
  js-miniapp-sdk/CHANGELOG.md
  js-miniapp-sdk/src/index.ts
  js-miniapp-sdk/src/modules/utils.ts
Labels: sample-app, SDK, bridge

#262 [MINI-6180] Added new interface to Universalbridge
  js-miniapp-bridge/src/common-bridge.ts
  js-miniapp-bridge/src/index.ts
  js-miniapp-bridge/src/types/universal-bridge.ts
  js-miniapp-sample/src/pages/universal-bridge.js
  js-miniapp-sdk/CHANGELOG.md
  js-miniapp-sdk/README.md
  js-miniapp-sdk/src/index.ts
  js-miniapp-sdk/src/modules/universal-bridge.ts
Labels: sample-app, SDK, bridge

#263 [No Ticket]Blank screen issue fix
  js-miniapp-sdk/src/modules/utils.ts
Labels: SDK

#265 [MINI-6229] - Updated documentation for the new interfaces
  js-miniapp-sdk/CHANGELOG.md
  js-miniapp-sdk/README.md
Labels: documentation

#266 [No Ticket] Release related changes
  js-miniapp-bridge/package.json
  js-miniapp-sample/package.json
  js-miniapp-sdk/CHANGELOG.md
  js-miniapp-sdk/package.json
Labels: documentation, Release, bridge
