Repository rakutentech/js-miniapp, pull requests merged in 2023-06, with the labels that each got.

#256 [MINI-6132] Fetch if the hostapp or device using Dark mode settings
  js-miniapp-bridge/src/common-bridge.ts
  js-miniapp-sample/package.json
  js-miniapp-sample/src/pages/landing.js
  js-miniapp-sdk/CHANGELOG.md
  js-miniapp-sdk/src/modules/utils.ts
Labels: sample-app, SDK, bridge

#257 [MALI-1050] [JS Sample App] Infinite Loading is observed on downloading modified Base64 data
  js-miniapp-sample/src/pages/file-download.js
  js-miniapp-sample/src/services/filedownload/actions.js
Labels: bug, sample-app, fix

#258 [MINI-6189] - Send Analytics to Miniapp
  js-miniapp-bridge/src/common-bridge.ts
  js-miniapp-bridge/src/index.ts
  js-miniapp-bridge/src/types/analytics/analytics.ts
  js-miniapp-bridge/test/test.spec.ts
  js-miniapp-sdk/src/modules/utils.ts
  yarn.lock
Labels: SDK, bridge, feature
